/* Footer.css */

.footer {
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .footer-container {
    display: flex;
    justify-content: center;
  }
  
  .footer-links a {
    color: #fff;
    font-size: 24px;
    margin: 0 10px;
    text-decoration: none;
  }
  
  .footer-links a:hover {
    color: #00f;
  }
  